<a href="/">Home</a>
<hr>

<table class>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date Time</th>
        <th>Patient</th>
        <th>Med Staff</th>
        
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    
        <tr>
			<td> {{ .ID }} </td>
			<td> {{ .DateTime }} </td>
            <td> {{ .Patient }} </td>
			<td> {{ .Medstaff }} </td>
			<td><a href="/delete/{{ .ID }}">Delete</a></td>
		</tr>

		{{ end }}
  </tbody>
</table>


<p>You are vieweing schedule details json</p>